:root {
    --borderRadius: 1rem;
    --cardBackgroundColor: lightblue;
    --padding: 1rem;
    --margin: 10px;

    --altColorLight: lightcoral;
    --altColor: coral;
    --greenColor: green;
    --grayedOut: lightgray;
    --whiteColor: white;
    --altBackgroundColor: black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: aliceblue;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--cardBackgroundColor);
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}

::-webkit-scrollbar-thumb {
    border-radius: var(--borderRadius);
    background: var(--altColorLight);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: var(--borderRadiuss);
    background: var(--altColor);
}